{% extends 'stu_dashboard/base_student.html '%}
{% block body_block %}
<form method="POST" id="teamForm" onSubmit="return checkForm()" action="{% url 'stu_dashboard:AddTeam'%}">
  {% if is_update %}
  <h1>Select member to replace with {{update_pk}}</h1>
  {% else %}
  <h1>Select member to add</h1>
  {% endif %}
  <table border="2">
    <tr>
      <th>Student Name</th>
      <th>Select?</th>
    </tr>
    {% if not is_update %}
    <tr>
      <td>{{leader}}</td>
      <td><input type="checkbox" name="leader" value="{{leader.s_id_id}}" id={{leader}} disabled checked>Leader</td>
    </tr>
    {%endif%}
    {% for student in student_list %}
    {% ifnotequal student.s_id_id leader.s_id_id %}
      <tr>
        <td>{{student}}</td>
        <td><input type="checkbox" name="team_student[]" value="{{student.s_id_id}}" id="{{student}}"  onchange="fun(id)">Member</td>
      </tr>
    {% endifnotequal %}
    {% endfor %}

  </table>
  <br>
  {% csrf_token %}
  {% if is_update %}
      <input type="submit" id="btnSubmit" name="submit" value="Update Member">
  {% else %}
    <input type="submit" id="btnSubmit" name="submit" value="ADD MEMBERS">
  {% endif %}
</form>

<script type="text/javascript">
    var members = document.forms['teamForm'].elements[ 'team_student[]' ];
    let min = 0;
    var min_member = '{{min_member}}';
    var max_member = '{{max_member}}';
    let count = 0;
    // let chk1 = document.getElementById("chk1");
    // let chk2 = document.getElementById("chk2");
    // let chk3 = document.getElementById("chk3");
    // let chk4 = document.getElementById("chk4");
    // let chk5 = document.getElementById("chk5");

    function fun(id) {
        let chk = document.getElementById(id);

        if(chk.checked == true){
            count++;
            min++;
        }
        else{
            count--;
            min--;
        }
        checkMax()
    }

    function checkMax(){
      var members_list;

      if (typeof members.length == 'undefined'){
        members_list = [members];
      }else{
        members_list = members;
      }

      if(count >= max_member) {
          for (var i=0, len=members_list.length; i<len; i++) {
            if(members_list[i].checked==false)
              members_list[i].disabled=true;
          }
      }
      else{
        for (var i=0,len=members_list.length; i<len; i++) {
            members_list[i].disabled =false;
        }
      }

    }

    function checkForm() {
        if(min < min_member)
            {
                alert("Insufficient memebers"); //alert pop-up
                return false;
              }
        return true;
    }

    window.onload = function() {
          checkMax();
     }

</script>
{% endblock %}
